{{ header }}

<div class="container-fluid quemsomos" id="quemsomos" style="background-image: url(assets/img/bg-quem.png);">
  <div class="container">
    <div class="row bg">
      <div class="col-9 col-md-5 my-auto">
        <h2>Nascemos <br> para <span>libertar</span> <br>empreendedores <br>das rotinas <br>administrativas <br>e financeiras.</h2>
        <!-- <h1>Liberte-se!</h1> -->
      </div>
    </div>
  </div>
</div>
<div class="container quemsomos-info" id="quemsomos-info">
  <div class="row">
    <div class="col-10 mx-auto">
      <!-- <p>A Libertas nasceu com a missão de libertar você, empreendedor, das rotinas administrativas e financeiras, para que você possa fazer o que faz de melhor.</p> -->
      <p>Enquanto nós cuidamos da operação do seu financeiro e administrativo, você fica com a cabeça livre para pensar em novas estratégias, novos produtos ou serviços, expansão do negócio, prospecção de novos clientes e parceiros, e tudo que envolva o crescimento do seu negócio.</p>
      <h1>Liberte-se já!</h1>
    </div>
  </div>
</div>

<div class="container-fluid fazemos-topo"  id="fazemos" style="background-image: url(assets/img/barra-topo.png);"></div>
<div class="container-fluid fazemos" >
  <div class="container">
    <h3>O que fazemos</h3>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card">
          <a href="javascript:;" data-toggle="modal" data-target="#nfs" class="btn-plus"><img src="assets/img/cards/plus.png" alt="Mais"></a>
          <div class="card-header">
            <img src="assets/img/cards/bill.png" alt="Emissão de Notas Fiscais e Boletos">
          </div>
          <div class="card-body">
            <h5>Emissão de Notas Fiscais e Boletos</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <a href="#" data-toggle="modal" data-target="#rcc" class="btn-plus"><img src="assets/img/cards/plus.png" alt="Mais"></a>
          <div class="card-header">
            <img src="assets/img/cards/handshake.png" alt="Relacionamento com a Contabilidade">
          </div>
          <div class="card-body">
            <h5>Relacionamento com a Contabilidade</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <a href="#" data-toggle="modal" data-target="#cb" class="btn-plus"><img src="assets/img/cards/plus.png" alt="Mais"></a>
          <div class="card-header">
            <img src="assets/img/cards/money.png" alt="Conciliação Bancária">
          </div>
          <div class="card-body">
            <h5>Conciliação Bancária</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <a href="#" data-toggle="modal" data-target="#cpr" class="btn-plus"><img src="assets/img/cards/plus.png" alt="Mais"></a>
          <div class="card-header">
            <img src="assets/img/cards/back.png" alt="Contas a pagar e a receber">
          </div>
          <div class="card-body">
            <h5>Contas a pagar e a receber</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <a href="#" data-toggle="modal" data-target="#dre" class="btn-plus"><img src="assets/img/cards/plus.png" alt="Mais"></a>
          <div class="card-header">
            <img src="assets/img/cards/graph.png" alt="Fluxo de Caixa e Demonstração dos Resultados do Exercício (DRE)">
          </div>
          <div class="card-body">
            <h5>Fluxo de Caixa e Demonstração dos Resultados do Exercício (DRE)</h5>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card">
          <a href="#" data-toggle="modal" data-target="#apc" class="btn-plus"><img src="assets/img/cards/plus.png" alt="Mais"></a>
          <div class="card-header">
            <img src="assets/img/cards/search.png" alt="Análise e Previsão de Contas">
          </div>
          <div class="card-body">
            <h5>Análise e Previsão de Contas</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid fazemos-bottom" style="background-image: url(assets/img/barra-bottom.png);"></div>

<div class="container libertados" id="libertados">
  <h4>Libertados</h4>
  <div class="imagens_inf pb-5 pt-4">
    <div class="row imagens">
      <div class="col-4 col-md-2 mx-auto text-center my-auto pb-3">
        <img src="assets/img/libertados/bananas.png" class="img-fluid">
      </div>
      <div class="col-4 col-md-2 mx-auto text-center my-auto pb-3">
        <img src="assets/img/libertados/caon.png" style="max-height:40px;" class="img-fluid">
      </div>
      <div class="col-4 col-md-2 mx-auto text-center my-auto pb-3">
        <img src="assets/img/libertados/cora-wt.png" style="max-height:50px;" class="img-fluid">
      </div>
      <div class="col-4 col-md-2 mx-auto text-center my-auto pb-3">
        <img src="assets/img/libertados/decodificador.png" style="max-height:40px;" class="img-fluid">
      </div>
      <div class="col-4 col-md-2 mx-auto text-center my-auto pb-3">
        <img src="assets/img/libertados/ecc.png" class="img-fluid">
      </div>
      <div class="col-4 col-md-2 mx-auto text-center my-auto pb-3">
        <img src="assets/img/libertados/logoshoot1.png" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="comentarios mt-4">
    <div class="row  ">
      <div class="col-12 col-md-4  ">
        <div class="d-flex align-items-start justify-content-around">
          <img src="assets/img/aspa.png">
          <div class="pl-4">
            <p>A Libertas Consultoria nos proporciona muito mais do que liberdade administrativa, eles oferecem flexibilidade nos serviços oferecidos. Este último é muito importante para pequenas empresas, porque o capital de giro nem sempre é como gostaríamos nos primeiros anos, e ter um suporte como o deles,é essencial para o crescimento da empresa. Sou muito grata por tê-los no time da Caon Lingerie.</p>  
            <h5>Rosele Caon<br></h5>
            <h6>Sócia - <span>CAON</span></h6> 
            <div class="stars">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
            </div>
          </div>       
        </div>
      </div>

      <div class="col-12 col-md-4  central">
        <div class="d-flex align-items-start justify-content-around">
          <img src="assets/img/aspa.png">
          <div class="pl-4">
            <p>Trabalhamos com a Libertas há mais de um ano e o serviço desde o início foi sempre fora de série: atendimento, cuidado, organização, senso de responsabilidade. A Libertas entendeu nosso negócio e hoje é um dos parceiros mais importantes no nosso processo de crescimento.</p>  
            <h5>Rafael Achutti<br></h5>
            <h6>Sócio - <span>BANANAS</span></h6> 
            <div class="stars">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
            </div>
          </div>       
        </div>
      </div>

      <div class="col-12 col-md-4  ">
        <div class="d-flex align-items-start justify-content-around">
          <img src="assets/img/aspa.png">
          <div class="pl-4">
            <p>Contratar a Libertas libertou minha rotina, tirando um baita peso das minhas costas e me deixando mais tranquilo para lidar com as demandas diárias da empresa.</p>
            <p>Encontrar a Libertas foi muito importante para que eu pudesse estar mais conectado à estratégia financeira, usando menos tempo no assunto mas com muito mais qualidade.</p>  
            <h5>Luciano Braga e<br> Artur Scartazzini <br></h5>
            <h6>Sócios - <span>SHOOT</span></h6> 
            <div class="stars">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
            </div>
          </div>       
        </div>
      </div>
      
      <div class="col-12 col-md-4 ">
        <div class="d-flex align-items-start justify-content-around">
          <img src="assets/img/aspa.png">
          <div class="pl-4">
            <p>Somos clientes Libertas praticamente desde o início formal da Cora, e não podemos estar mais satisfeitas. Como empresa de consultoria, sabemos como faz diferença o olhar externo para facilitar um desatar de nós que, quem está imerso no negócio, por vezes não consegue dar conta. Libertas é uma parte super estratégica da Cora, compartilhamos dos mesmos valores e a confiança é a base dessa relação. Visualizamos um futuro regenerativo juntes, e é uma satisfação dizer que estamos construindo isso no agora.</p>  
            <h5>Laura Madalosso e <br> Raquel Chamis <br></h5>
            <h6>Sócias - <span>CORA</span></h6> 
            <div class="stars">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
            </div>
          </div>       
        </div>
      </div>

      <div class="col-12 col-md-4 ">
        <div class="d-flex align-items-start justify-content-around">
          <img src="assets/img/aspa.png">
          <div class="pl-4">
            <p>A Libertas Consultoria é uma empresa que atende além das expectativas. Nos surpreendeu muito o atendimento, porque além de demonstrarem conhecimento, transparência e confiança, tem uma preocupação genuína em ajudar o cliente a encontrar a melhor solução, sempre com muita atenção e empatia. Sem dúvida, conseguem entregar a melhor solução com atendimento de excelência.</p>  
            <h5>Alessandra da Rosa<br></h5>
            <h6>Sócia - <span>ECC HUB</span></h6> 
            <div class="stars">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
              <img src="assets/img/star.png" alt="Star">
            </div>
          </div>       
        </div>
      </div>
    </div>
  </div>
  <h1 class="liberte-se mt-5 " id="libertese">Liberte-se!</h1>
</div>


<div class="container-fluid container-forms" id="form-liberte" style="background-image: url(assets/img/bg-forms.png);">
  <div class="container">
    <div class="row" style="min-height: 500px;">
      <div class="col-12 col-md-8 col-lg-6 mx-auto my-auto">
        <form method="post">
          <div class="form-group">
            <input type="text" class="form-control" id="inputNome" name="nome" placeholder="Nome">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" name="email" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputTelefone" name="telefone" placeholder="Telefone">
          </div>
          <div class="form-group">
            <textarea id="inputMotivos" name="motivos" class="form-control" rows="4" placeholder="O que você precisa para ser libertado?"></textarea>
          </div>
          <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-center py-4">
              <div id="g_recapcha_div"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-4 mx-auto">
              <button type="submit" class="btn btn-enviar">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{ footer }}